html,
body,
pre,
code,
kbd,
samp {
  font-family: 'Press Start 2P', cursive;
}
html,
body {
  /* background: url("background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  scroll-behavior: smooth;
  font-family: 'Press Start 2P', ;
}

.nes-progress {
  height: 25px;
}
/* .mariofaceL {
  position: fixed;
  width: 88px;
  height: 96px;
  top: 80%;
  left: 0%;
  background: url('mariosprite96x102.png') left center;
  transform: scaleX(-0.5) scaleY(0.5);
} */
.marioRunL {
  position: fixed;
  width: 88px;
  height: 96px;
  left: 0%;
  background: url('mariosprite96x102.png') left center;
  animation: run 0.4s steps(4) infinite;
  transform: scaleX(-0.5) scaleY(0.5);
}
@keyframes run {
  100% {
    background-position: -384px;
  }
}
.mariofaceR {
  position: fixed;
  width: 88px;
  height: 96px;
  left: 0%;
  background: url('mariosprite96x102.png') left center;
  transform: scale(0.5);
  animation: run;
}
.marioRunR {
  position: fixed;
  width: 88px;
  height: 96px;
  left: 0%;
  background: url('mariosprite96x102.png') left center;
  animation: run 0.4s steps(4) infinite;
  transform: scale(0.5);
}
@keyframes run {
  100% {
    background-position: -384px;
  }
}

.marioJump {
  position: fixed;
  width: 88px;
  height: 96px;
  left: 0%;
  background: url('mariosprite96x102.png') left center;
  animation: jump 0.4s steps(4) 1 forwards;
  transform: scale(0.5);
}
@keyframes bounce-3 {
  0%   {background: url('../Images/mariojump.png') left center;transform: translateY(0) scale(0.5);; }
  30%  {background: url('../Images/mariojump.png') left center; transform: translateY(-144px) scale(0.5);; }
  50%  {background: url('../Images/mariojump.png') left center; transform: translateY(-144px) scale(0.5);; }
  99%  {background: url('../Images/mariojump.png') left center; transform: translateY(-144px) scale(0.5);; } 
  100% {background: url('mariosprite96x102.png') left center; transform: translateY(-144px) scale(0.5);; }
}
@keyframes jump{
  0%{
    background: url('../Images/mariojump.png') left center;
  }
  50%{
    background: url('../Images/mariojump.png') left center;
  }
  99%{
    background: url('../Images/mariojump.png') left center;
  }
  100%{
    background: url('mariosprite96x102.png') left center;
  }
}

.home {
  background-color: #010000;
}
.about {
  background-image: linear-gradient(to bottom, #5c94fc, #5d94fb);
}
.work {
  background-color: #010000;
}
.contact {
  background-image: linear-gradient(to bottom, #5c94fc, #5d94fb);
}
body {
  margin: 0;
  padding: 0;
  height: 600vw;
  font-size: 16px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 0px 50px;
  z-index: 10000;
  background-color: #007800;
}
header .logo {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  padding: 5px;
  list-style: none;
}
header ul li a {
  position: relative;
  text-decoration: none;
  color: #ffff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}
#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 700vw;
  height: 100vh;
  display: flex;
}
#container .section {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 0.8%;
  padding-right: 100px;
  padding-left: 100px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#container .section .backgroundmap {
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;
  overflow: visible;
}

#container .section .backgroundmap .bottomTile,
.UbottomTile {
  background-image: url(../Images/TileBottom.png);
  height: 136px;
  width: 100%;
  top: calc(80% + 4px);
  transform: translateY(50%);
  background-repeat: repeat-x;
  position: absolute;
  z-index: 550;
}
#container .section .backgroundmap .UbottomTile {
  background-image: url(../Images/UTileBottom.png);
}
#container .section .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .section .content h1 {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
}

.brickborder {
  border: 66px solid pink;
  border-image: url('../Images/BlockBorder.png');
  border-image-slice: 72 66;
  border-image-repeat: round;
}
.ubrickborder {
  border: 66px solid pink;
  border-image: url('../Images/UBlockBorder.png');
  border-image-slice: 72 66;
  border-image-repeat: round;
}

.brick {
  background: url(../Images/Brick.png) no-repeat;
  width: 68px;
  height: 66px;
  position: absolute;
}
.Ubrick {
  background: url(../Images/UBrick.png) no-repeat;
  width: 68px;
  height: 66px;
  position: absolute;
}
.bushSingle{
  background: url(../Images/Bush\ -\ Single.png) no-repeat;
  width:128px;
  height: 64px;
  position: absolute;
}

.bushTriple{
  background: url(../Images/Bush\ -\ Triple.png) no-repeat;
  width:256px;
  height: 64px;
  position: absolute;
}

.castle{
  background: url(../Images/Castle.png) no-repeat;
  width:322px;
  height: 344px;
  position: absolute;
}
.cloudTriple{
  background: url(../Images/Cloud\ -\ Triple.png) no-repeat;
  width:192px;
  height: 96px;
  position: absolute;
}
.cloudDouble{
  background: url(../Images/Cloud\ -\ Double.png) no-repeat;
  width:192px;
  height: 96px;
  position: absolute;
}
.cloudSingle{
  background: url(../Images/Cloud\ -\ Single.png) no-repeat;
  width:128px;
  height: 96px;
  position: absolute;
}
.hillLarge{
  background: url(../Images/Hill\ -\ Large.png) no-repeat;
  width:320px;
  height: 140px;
  position: absolute;
}
.hillSmall{
  background: url(../Images/Hill\ -\ Small.png) no-repeat;
  width:192px;
  height: 76px;
  position: absolute;
}
.pipeSet{
  background: url(../Images/pipeset.png) no-repeat;
  width:284px;
  height: 266px;
  position: absolute;
}
.pipeVert{
  background: url(../Images/PipeVert.png) no-repeat;
  width:132px;
  height: 280px;
  position: absolute;
}
.pipeVertSmol{
  background: url(../Images/PipeVertSmol.png) no-repeat;
  width:132px;
  height: 132px;
  position: absolute;
}

.coinEmpty{
  background: url(../Images/coinEmpty.png) no-repeat;
  width: 68px;
  height: 66px;
  position: absolute;
}
.coinFull{
  background: url(../Images/coinFull.png) no-repeat;
  width: 68px;
  height: 66px;
  position: absolute;
}
.flagPole{
  background: url(../Images/flag.png) no-repeat;
  width: 100px;
  height: 718px;
  position: absolute;
}

.high {
  bottom: calc(60%);
}

.low {
  bottom: calc(40%);
}
.lowcoin{
  bottom: calc(48px *6);
}
.base {
  top: 81%;
}

